<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h1 class="text-center">Note List</h1>
<table class="table">
    <thead>
    <tr scope="row">
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr scope="row" th:each="note : ${notes}">
        <td th:text="${note.title}"></td>
        <td th:text="${note.content}"></td>
        <td>
            <a th:href="@{/note/edit(id=${note.id})}">
                <button class="btn btn-info">Edit</button>
            </a>
            <form th:action="@{/note/delete}" method="post" style="display: inline;">
                <input type="hidden" name="id" th:value="${note.id}"/>
                <button class="btn btn-warning" type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>